# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [46]:
!python -V

Python 3.11.1

# 1.3 Trabalhando com dados

In [47]:
import pandas as pd

In [48]:
# Configuração do pandas para apresentar no máximo 15 linhas de um dataframe
pd.set_option('display.max_rows',15)

# Configuração do pandas para apresentar no máximo 15 colunas de um dataframe
pd.set_option('display.max_columns',15)

In [49]:
dataset = pd.read_csv('dados/db.csv', sep=';', encoding='utf8')

In [50]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [51]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [52]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [53]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências <u>imutáveis</u> que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [54]:
()

()

In [55]:
1, 2, 3

(1, 2, 3)

In [56]:
nome = 'Passat'
valor = 153000

carro = (nome, valor)

carro

('Passat', 153000)

In [57]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [58]:
print(type(nomes_carros))
print(type(carro))

<class 'tuple'>
<class 'tuple'>

# 2.2 Seleções em tuplas

In [63]:
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [59]:
nomes_carros[0]

'Jetta Variant'

In [60]:
nomes_carros[1]

'Passat'

In [61]:
nomes_carros[-1]

'DS5'

In [62]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [64]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [67]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [68]:
nomes_carros[-1][1]

'Gol'

# 2.3 Iterando em tuplas

In [69]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [71]:
for carro in nomes_carros:
    print(carro)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [73]:
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [74]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [75]:
carro_1

'Jetta Variant'

In [76]:
carro_2

'Passat'

In [77]:
carro_3

'Crossfox'

In [78]:
carro_4

'DS5'

In [79]:
_, carro_2, _, carro_4 = nomes_carros

In [81]:
carro_2

'Passat'

In [82]:
carro_4

'DS5'

In [83]:
_, carro_2, *_ = nomes_carros

In [84]:
carro_2

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [85]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [86]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [87]:
zip(carros, valores)

In [88]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [91]:
for carro, valor in zip(carros, valores):
    print(f'O carro {carro} custa {valor}')

O carro Jetta Variant custa 88078.64
O carro Passat custa 106161.94
O carro Crossfox custa 72832.16
O carro DS5 custa 124549.07

In [94]:
for carro, valor in zip(carros, valores):
    if valor > 100000:
        print(f'O carro {carro} custa {valor}')

O carro Passat custa 106161.94
O carro DS5 custa 124549.07

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [95]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [96]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [97]:
carros.index('Passat')

1

In [98]:
valores[carros.index('Passat')]

106161.94

In [99]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [100]:
type(dados)

dict

### Criando dicionários com *zip()*

In [101]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [102]:
dados = dict(zip(carros, valores))
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [105]:
display(dados)
display(dados['Passat'])

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [106]:
'Passat' in dados

True

In [107]:
'Fusca' in dados

False

In [108]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [109]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [110]:
dados['DS5'] = 124549.07

In [111]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [112]:
del dados['DS5']

In [113]:
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [114]:
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [115]:
dados.update({'DS5': 124549.07})
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [116]:
dados.update({'DS5': 124549.77, 'Fusca': 18000})
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.77,
 'Fusca': 18000}

## *dict.copy()*

Cria uma cópia do dicionário.

In [117]:
# shallow copy - cópia rasa, uma referência de memória para o mesmo dado
dados_copy = dados

In [118]:
# deep copy - cópia profunda, duplica o dados, alteração em um deles não afeta o outro
dados_copy = dados.copy()

In [119]:
dados_copy['Honda Civic Touring'] = 147000

In [120]:
print(f'dados - {dados}')
print(f'dados_copy - {dados_copy}')

dados - {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16, 'DS5': 124549.77, 'Fusca': 18000}
dados_copy - {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16, 'DS5': 124549.77, 'Fusca': 18000, 'Honda Civic Touring': 147000}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [121]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.77,
 'Fusca': 18000}

In [122]:
dados.pop('Fusca')

18000

In [123]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.77}

In [124]:
# Caso não encontre retorna um erro
# dados.pop('Fusca')

KeyError: 'Fusca'

In [126]:
# Com tratamento de chave não encontrada
dados.pop('Fusca', 'Carro não ncontrado')

'Carro não ncontrado'

In [127]:
# Com tratamento de chave não encontrada
dados.pop('DS5', 'Carro não ncontrado')

124549.77

In [128]:
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

## *dict.clear()*

Remove todos os itens do dicionário.

In [129]:
dados_copy.clear()

In [130]:
dados_copy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [131]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16, 'DS5': 124549.07, 'Fusca': 18000}
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 18000}

In [133]:
dados.keys()

dict_keys(['Jetta Variant', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [136]:
for carro in dados.keys():
    print(carro, dados[carro])

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07
Fusca 18000

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [137]:
dados.values()

dict_values([88078.64, 106161.94, 72832.16, 124549.07, 18000])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [138]:
dados.items()

dict_items([('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16), ('DS5', 124549.07), ('Fusca', 18000)])

In [139]:
for carro, valor in dados.items():
    print(f'O {carro} custa {valor}.')

O Jetta Variant custa 88078.64.
O Passat custa 106161.94.
O Crossfox custa 72832.16.
O DS5 custa 124549.07.
O Fusca custa 18000.

In [141]:
for carro, valor in dados.items():
    if valor > 100000:
        print(f'O {carro} custa {valor}.')

O Passat custa 106161.94.
O DS5 custa 124549.07.

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [142]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

Soma dos valores de todos os carros:

In [145]:
# método longo
valores = 0

for valor in dados.values():
    valores += valor

valores

267072.74

In [147]:
# método utilizando a built-in function sum()
sum(dados.values())

267072.74

Help sobre uma função built-in

In [148]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [149]:
sum?

Signature: sum(iterable, /, start=0)
Docstring:
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
Type:      builtin_function_or_method

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [150]:
def media():
    valor = (1 + 2 + 3) / 3
    print(valor)

In [151]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [158]:
def media(num_1, num_2, num_3):
    valor = (num_1 + num_2 + num_3) / 3
    print(valor)

In [159]:
media(1, 2, 3)

2.0

In [160]:
media(23, 45, 67)

45.0

In [165]:
def media(lista_num: list):
    valor = sum(lista_num) / len(lista_num)
    print(valor)

In [166]:
media([1, 2, 3])

2.0

In [167]:
media([1, 2, 3, 4, 5, 6, 7, 8, 9])

5.0

In [178]:
dados_exercicio = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

def km_media(dataset, ano_atual):
    for carro in dataset.keys():
        result = dataset[carro]['km'] / (ano_atual - dataset[carro]['ano'])
        print(result)

km_media(dados_exercicio, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [179]:
def media(lista_num: list):
    valor = sum(lista_num) / len(lista_num)
    return valor

In [180]:
valor_media = media([1, 2, 3, 4, 5, 6, 7, 8, 9])
valor_media

5.0

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [198]:
def media(lista_num: list):
    valor = sum(lista_num) / len(lista_num)
    return valor, len(lista_num)

In [199]:
media([1, 2, 3, 4, 5, 6, 7, 8, 9])

(5.0, 9)

In [200]:
valor_media, quantidade_elementos = media([1, 2, 3, 4, 5, 6, 7, 8, 9])
print(f'Quantidade de elementos - {quantidade_elementos} e média {valor_media}')

Quantidade de elementos - 9 e média 5.0

In [194]:
dados_exercicio = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1]['km_media'] = media
        result.update({item[0]: item[1]})
    return result

km_media(dados_exercicio, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [201]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [202]:
carros = ['Jetta Variante', 'Passat', 'Crossfox']
carros

['Jetta Variante', 'Passat', 'Crossfox']

In [204]:
pd.Series(carros)

0    Jetta Variante
1            Passat
2          Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [210]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

dados

[{'Nome': 'Jetta Variant',
  'Motor': 'Motor 4.0 Turbo',
  'Ano': 2003,
  'Quilometragem': 44410.0,
  'Zero_km': False,
  'Valor': 88078.64},
 {'Nome': 'Passat',
  'Motor': 'Motor Diesel',
  'Ano': 1991,
  'Quilometragem': 5712.0,
  'Zero_km': False,
  'Valor': 106161.94},
 {'Nome': 'Crossfox',
  'Motor': 'Motor Diesel V8',
  'Ano': 1990,
  'Quilometragem': 37123.0,
  'Zero_km': False,
  'Valor': 72832.16}]

In [212]:
df = pd.DataFrame(dados)
df

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [213]:
df[['Nome', 'Ano', 'Valor']]

            Nome   Ano      Valor
0  Jetta Variant  2003   88078.64
1         Passat  1991  106161.94
2       Crossfox  1990   72832.16

### Criando um DataFrame a partir de um dicionário

In [215]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

dados

{'Nome': ['Jetta Variant', 'Passat', 'Crossfox'],
 'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
 'Ano': [2003, 1991, 1990],
 'Quilometragem': [44410.0, 5712.0, 37123.0],
 'Zero_km': [False, False, False],
 'Valor': [88078.64, 106161.94, 72832.16]}

In [216]:
df = pd.DataFrame(dados)
df

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [222]:
# index_col = 0 significa que o índice será a coluna Nome
df_externo = pd.read_csv('dados/db.csv', sep=';', index_col=0)

In [223]:
df_externo.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [225]:
df_externo['Valor'].head()

Nome
Jetta Variant        88078.64
Passat              106161.94
Crossfox             72832.16
DS5                 124549.07
Aston Martin DB4     92612.10
Name: Valor, dtype: float64

In [226]:
type(df_externo['Valor'])

pandas.core.series.Series

In [228]:
df_externo[['Valor']].head()

                      Valor
Nome
Jetta Variant      88078.64
Passat            106161.94
Crossfox           72832.16
DS5               124549.07
Aston Martin DB4   92612.10

In [227]:
type(df_externo[['Valor']])

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [229]:
df_externo[0:3]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [230]:
df_externo.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [231]:
df_externo.loc[['Passat', 'DS5']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [233]:
df_externo.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [236]:
df_externo.loc[:, ['Motor', 'Valor']].head()

                            Motor      Valor
Nome
Jetta Variant     Motor 4.0 Turbo   88078.64
Passat               Motor Diesel  106161.94
Crossfox          Motor Diesel V8   72832.16
DS5               Motor 2.4 Turbo  124549.07
Aston Martin DB4  Motor 2.4 Turbo   92612.10

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [237]:
df_externo.iloc[0]

Motor                                              Motor 4.0 Turbo
Ano                                                           2003
Quilometragem                                              44410.0
Zero_km                                                      False
Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
Valor                                                     88078.64
Name: Jetta Variant, dtype: object

In [238]:
df_externo.iloc[[0]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64

In [239]:
df_externo.iloc[1:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [243]:
df_externo.iloc[0: 5, [0, 5]]

                            Motor      Valor
Nome
Jetta Variant     Motor 4.0 Turbo   88078.64
Passat               Motor Diesel  106161.94
Crossfox          Motor Diesel V8   72832.16
DS5               Motor 2.4 Turbo  124549.07
Aston Martin DB4  Motor 2.4 Turbo   92612.10

In [244]:
df_externo.iloc[[1, 5, 42], [0, 5]]

                       Motor      Valor
Nome
Passat          Motor Diesel  106161.94
Palio Weekend  Motor 1.8 16v   97497.73
Optima         Motor 1.8 16v   86641.34

In [246]:
df_externo.iloc[:, [0, 5]].head()

                            Motor      Valor
Nome
Jetta Variant     Motor 4.0 Turbo   88078.64
Passat               Motor Diesel  106161.94
Crossfox          Motor Diesel V8   72832.16
DS5               Motor 2.4 Turbo  124549.07
Aston Martin DB4  Motor 2.4 Turbo   92612.10

# 5.3 Queries com DataFrames

In [247]:
df_externo.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [248]:
df_externo.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [249]:
df_externo.Motor == 'Motor Diesel'

Nome
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [253]:
array_bool = df_externo.Motor == 'Motor Diesel'
type(array_bool)

pandas.core.series.Series

In [254]:
df_externo[array_bool]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Controle de estabilidade', 'Painel digital',...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamento', 'Travas elétricas...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Bancos de couro', 'Câmbio automático', 'Pilo...",146716.91
...,...,...,...,...,...,...
Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Controle de tração', 'Sensor de estacionamen...",141083.35
i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de chuva', 'Vidros elétricos', 'Contr...",73311.75
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79
V60,Motor Diesel,2004,91840.0,False,"['Rodas de liga', 'Sensor crepuscular', 'Ar co...",114728.74
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90

In [257]:
# and usa-se &
# or usa-se |
(df_externo.Motor == 'Motor Diesel') & (df_externo.Zero_km == True)

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Length: 258, dtype: bool

In [256]:
df_externo[(df_externo.Motor == 'Motor Diesel') & (df_externo.Zero_km == True)]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

### Utilizando o método query

 O método query() aceita as duas formas de utilização dos operadores lógicos. No caso do operador lógico OU, temos o or e o caractere |. Para o operador lógico E, temos o and e o caractere &.

In [260]:
df_externo.query('Motor == "Motor Diesel" and Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

# 5.4 Iterando com DataFrames

In [261]:
df_externo.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [262]:
for item in df_externo:
    print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [264]:
for index, item in df_externo.iterrows():
    print(f'indice {index} - valores {item}')

indice Jetta Variant - valores Motor                                              Motor 4.0 Turbo
Ano                                                           2003
Quilometragem                                              44410.0
Zero_km                                                      False
Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
Valor                                                     88078.64
Name: Jetta Variant, dtype: object
indice Passat - valores Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object
indice Crossfox - valores Motor                                              Motor Diesel V8
Ano                                                           1990
Quilometragem                                              37123.0
Zero_km                                                      False
Acessórios       ['Piloto automático', 'Controle de estabilidad...
Valor                                                     72832.16
Name: Crossfox, dtype: object
indice DS5 - valores Motor                                              Motor 2.4 Turbo
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Travas elétricas', '4 X 4', 'Vidros elétrico...
Valor                                                    124549.07
Name: DS5, dtype: object
indice Aston Martin DB4 - valores Motor                                              Motor 2.4 Turbo
Ano                                                           2006
Quilometragem                                              25757.0
Zero_km                                                      False
Acessórios       ['Rodas de liga', '4 X 4', 'Central multimídia...
Valor                                                      92612.1
Name: Aston Martin DB4, dtype: object
indice Palio Weekend - valores Motor                                                Motor 1.8 16v
Ano                                                           2012
Quilometragem                                              10728.0
Zero_km                                                      False
Acessórios       ['Sensor de estacionamento', 'Teto panorâmico'...
Valor                                                     97497.73
Name: Palio Weekend, dtype: object
indice A5 - valores Motor                                              Motor 4.0 Turbo
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Câmbio automático', 'Câmera de estacionament...
Valor                                                      56445.2
Name: A5, dtype: object
indice Série 3 Cabrio - valores Motor                                                 Motor 1.0 8v
Ano                                                           2009
Quilometragem                                              77599.0
Zero_km                                                      False
Acessórios       ['Controle de estabilidade', 'Sensor crepuscul...
Valor                                                    112310.44
Name: Série 3 Cabrio, dtype: object
indice Dodge Jorney - valores Motor                                                Motor 3.0 32v
Ano                                                           2010
Quilometragem                                              99197.0
Zero_km                                                      False
Acessórios       ['Vidros elétricos', 'Piloto automático', 'Tet...
Valor                                                    120716.27
Name: Dodge Jorney, dtype: object
indice Carens - valores Motor                                        Motor 5.0 V8 Bi-Turbo
Ano                                                           2011
Quilometragem                                              37978.0
Zero_km                                                      False
Acessórios       ['Ar condicionado', 'Painel digital', 'Central...
Valor                                                     76566.49
Name: Carens, dtype: object
indice Ford Edge - valores Motor                                              Motor Diesel V6
Ano                                                           2002
Quilometragem                                              12859.0
Zero_km                                                      False
Acessórios       ['Sensor crepuscular', 'Rodas de liga', 'Teto ...
Valor                                                     71647.59
Name: Ford Edge, dtype: object
indice Courier - valores Motor                                              Motor Diesel V8
Ano                                                           2007
Quilometragem                                               8052.0
Zero_km                                                      False
Acessórios       ['Central multimídia', '4 X 4', 'Piloto automá...
Valor                                                     73919.53
Name: Courier, dtype: object
indice S-18 - valores Motor                                                     Motor V6
Ano                                                           2001
Quilometragem                                              89773.0
Zero_km                                                      False
Acessórios       ['Bancos de couro', 'Sensor de chuva', 'Rodas ...
Valor                                                    112732.99
Name: S-18, dtype: object
indice J5 - valores Motor                                                     Motor V6
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Sensor crepuscular', 'Painel digital', 'Roda...
Valor                                                     53183.38
Name: J5, dtype: object
indice F-Type Coupé - valores Motor                                        Motor 5.0 V8 Bi-Turbo
Ano                                                           2009
Quilometragem                                              41457.0
Zero_km                                                      False
Acessórios       ['Piloto automático', 'Sensor crepuscular', 'S...
Valor                                                    127488.42
Name: F-Type Coupé, dtype: object
indice RAM - valores Motor                                              Motor Diesel V8
Ano                                                           2016
Quilometragem                                             115607.0
Zero_km                                                      False
Acessórios       ['Sensor crepuscular', 'Câmbio automático', 'S...
Valor                                                      59910.4
Name: RAM, dtype: object
indice Série 1 - valores Motor                                                Motor 3.0 32v
Ano                                                           2012
Quilometragem                                              46449.0
Zero_km                                                      False
Acessórios       ['Teto panorâmico', 'Câmera de estacionamento'...
Valor                                                     61118.59
Name: Série 1, dtype: object
indice A3 - valores Motor                                                 Motor 1.0 8v
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
Valor                                                     88552.39
Name: A3, dtype: object
indice XC90 - valores Motor                                                 Motor 1.0 8v
Ano                                                           2016
Quilometragem                                              37086.0
Zero_km                                                      False
Acessórios       ['Travas elétricas', 'Vidros elétricos', 'Teto...
Valor                                                     62696.69
Name: XC90, dtype: object
indice RS 3 Sportback - valores Motor                                                Motor 3.0 32v
Ano                                                           2017
Quilometragem                                              15173.0
Zero_km                                                      False
Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
Valor                                                     101726.3
Name: RS 3 Sportback, dtype: object
indice Pajero Sport - valores Motor                                                 Motor 1.0 8v
Ano                                                           2002
Quilometragem                                             101193.0
Zero_km                                                      False
Acessórios       ['Sensor de estacionamento', 'Piloto automátic...
Valor                                                    106147.38
Name: Pajero Sport, dtype: object
indice Série 1 M - valores Motor                                                     Motor V8
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Controle de estabilidade', 'Central multimíd...
Valor                                                      94564.4
Name: Série 1 M, dtype: object
indice Lamborghini Obvious - valores Motor                                              Motor Diesel V6
Ano                                                           1994
Quilometragem                                              98079.0
Zero_km                                                      False
Acessórios       ['Rodas de liga', 'Câmbio automático', 'Travas...
Valor                                                    133529.84
Name: Lamborghini Obvious, dtype: object
indice Effa Hafei Picape Baú - valores Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                             102959.0
Zero_km                                                      False
Acessórios       ['Controle de estabilidade', 'Painel digital',...
Valor                                                    125684.65
Name: Effa Hafei Picape Baú, dtype: object
indice Lamborghini Murciélago - valores Motor                                        Motor 5.0 V8 Bi-Turbo
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Freios ABS', 'Câmbio automático', 'Ar condic...
Valor                                                    121596.21
Name: Lamborghini Murciélago, dtype: object
indice Up! - valores Motor                                              Motor Diesel V6
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Sensor de estacionamento', 'Vidros elétricos...
Valor                                                      71367.1
Name: Up!, dtype: object
indice Fiesta Rocam Sedan - valores Motor                                              Motor 4.0 Turbo
Ano                                                           2016
Quilometragem                                               5795.0
Zero_km                                                      False
Acessórios       ['Ar condicionado', 'Bancos de couro', 'Câmbio...
Valor                                                     95347.75
Name: Fiesta Rocam Sedan, dtype: object
indice Sandero Stepway - valores Motor                                                Motor 3.0 32v
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Freios ABS', 'Ar condicionado', 'Teto panorâ...
Valor                                                    105432.84
Name: Sandero Stepway, dtype: object
indice Cayman S - valores Motor                                                Motor 3.0 32v
Ano                                                           2002
Quilometragem                                              58848.0
Zero_km                                                      False
Acessórios       ['Câmbio automático', 'Sensor de estacionament...
Valor                                                     57045.27
Name: Cayman S, dtype: object
indice V40 - valores Motor                                              Motor 4.0 Turbo
Ano                                                           1991
Quilometragem                                              94381.0
Zero_km                                                      False
Acessórios       ['Câmera de estacionamento', 'Sensor de estaci...
Valor                                                     120432.7
Name: V40, dtype: object
indice Classe SLS AMG - valores Motor                                                 Motor 1.0 8v
Ano                                                           1997
Quilometragem                                              30163.0
Zero_km                                                      False
Acessórios       ['Sensor de estacionamento', 'Controle de esta...
Valor                                                      70707.2
Name: Classe SLS AMG, dtype: object
indice Gol G4 - valores Motor                                                Motor 2.0 16v
Ano                                                           1995
Quilometragem                                              53332.0
Zero_km                                                      False
Acessórios       ['Sensor crepuscular', '4 X 4', 'Vidros elétri...
Valor                                                     69105.18
Name: Gol G4, dtype: object
indice Linea - valores Motor                                                 Motor 1.0 8v
Ano                                                           2018
Quilometragem                                              17720.0
Zero_km                                                      False
Acessórios       ['Piloto automático', 'Painel digital', 'Vidro...
Valor                                                     59358.69
Name: Linea, dtype: object
indice Ford F100 - valores Motor                                                Motor 2.0 16v
Ano                                                           1991
Quilometragem                                              33808.0
Zero_km                                                      False
Acessórios       ['Controle de tração', 'Sensor crepuscular', '...
Valor                                                      65955.4
Name: Ford F100, dtype: object
indice J2 - valores Motor                                                     Motor V8
Ano                                                           2014
Quilometragem                                              90684.0
Zero_km                                                      False
Acessórios       ['Teto panorâmico', 'Sensor de estacionamento'...
Valor                                                     60017.03
Name: J2, dtype: object
indice Aston Martin DBS - valores Motor                                                     Motor V8
Ano                                                           1995
Quilometragem                                              43975.0
Zero_km                                                      False
Acessórios       ['Teto panorâmico', 'Piloto automático', 'Ar c...
Valor                                                    118909.52
Name: Aston Martin DBS, dtype: object
indice Pajero TR4 - valores Motor                                              Motor 2.4 Turbo
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Controle de tração', 'Bancos de couro', 'Câm...
Valor                                                     51606.59
Name: Pajero TR4, dtype: object
indice Polo Sedan - valores Motor                                                     Motor V6
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Sensor de chuva', 'Sensor crepuscular', 'Ar ...
Valor                                                    123281.87
Name: Polo Sedan, dtype: object
indice California - valores Motor                                                 Motor 1.0 8v
Ano                                                           2009
Quilometragem                                               5526.0
Zero_km                                                      False
Acessórios       ['Rodas de liga', 'Ar condicionado', 'Câmera d...
Valor                                                     69770.18
Name: California, dtype: object
indice S60 - valores Motor                                              Motor 2.4 Turbo
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar...
Valor                                                    102609.54
Name: S60, dtype: object
indice Tucson - valores Motor                                                Motor 2.0 16v
Ano                                                           2013
Quilometragem                                              93415.0
Zero_km                                                      False
Acessórios       ['Vidros elétricos', 'Sensor crepuscular', 'Fr...
Valor                                                     67997.19
Name: Tucson, dtype: object
indice HB20 - valores Motor                                                     Motor V6
Ano                                                           2003
Quilometragem                                              40762.0
Zero_km                                                      False
Acessórios       ['Sensor de chuva', 'Travas elétricas', 'Contr...
Valor                                                    135235.29
Name: HB20, dtype: object
indice Optima - valores Motor                                                Motor 1.8 16v
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Central multimídia', 'Ar condicionado', 'Tet...
Valor                                                     86641.34
Name: Optima, dtype: object
indice Logan - valores Motor                                              Motor 4.0 Turbo
Ano                                                           2002

In [265]:
for index, item in df_externo.iterrows():
    if (2019 - item['Ano'] != 0):
        df_externo.loc[index, 'km_media'] = item['Quilometragem'] / (2019 - item['Ano'])
    else:
        df_externo.loc[index, 'km_media'] = item['Quilometragem']

In [266]:
df_externo.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692

# 5.5 Tratamento de dados

In [267]:
df_externo.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692

In [268]:
df_externo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   km_media       197 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [269]:
df_externo.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [270]:
df_externo[df_externo.Quilometragem.isna()]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,NaN
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,NaN
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,NaN
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,NaN
Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,NaN
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,NaN
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,NaN
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,NaN
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,NaN
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,NaN

Abordagem preenchendo com zeros os valores NaN

In [271]:
df_externo.fillna(0, inplace=True)

In [272]:
df_externo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  258 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [274]:
# Visualizando onde estava null
df_externo[df_externo.Zero_km == True]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [275]:
df_externo = pd.read_csv('dados/db.csv', sep=';')

In [276]:
df_externo.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [281]:
df_externo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

Abordagem excluindo registros

In [282]:
df_externo.dropna(subset = ['Quilometragem'], inplace=True)

In [283]:
df_externo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           197 non-null    object
 1   Motor          197 non-null    object
 2   Ano            197 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        197 non-null    bool
 5   Acessórios     197 non-null    object
 6   Valor          197 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 11.0+ KB