# Biblioteca db.py

* Biblioteca que facilita a interação com o banco de dados
* Utiliza o pandas para gerenciar dados
* Instalação - pip install db.py

### Banco de Dados Suportados
* PostgreSQL
* MySQL
* SQLite
* Redshift
* MS SQL Server
* Oracle

In [1]:
from db import DB

In [2]:
# filename - caminho do arquivo
# dbtype   - qual o tipo de banco de dados
# Sqlite3 já vm com o python
database = DB(filename='logs.sqlite3', dbtype='sqlite')

Indexing schema. This will take a second...finished!

In [3]:
# Quais tabelas disponíveis
database.tables

Refreshing schema. Please wait...done!

+--------+-------+-------------------------+
| Schema | Table | Columns                 |
+--------+-------+-------------------------+
| public | log   | id, path, user_id, date |
+--------+-------+-------------------------+

In [4]:
# Criar uma referência para a tabela sqlite3
log_df = database.tables.log
log_df

+---------------------------------------------------+
|                        log                        |
+---------+---------+--------------+----------------+
| Column  | Type    | Foreign Keys | Reference Keys |
+---------+---------+--------------+----------------+
| id      | integer |              |                |
| path    | text    |              |                |
| user_id | integer |              |                |
| date    | numeric |              |                |
+---------+---------+--------------+----------------+

In [5]:
# Criar um DataFrame a partir de todos os registros da tabela sqlite3
log_df = database.tables.log.all()
log_df.head()

   id                  path  user_id                 date
0   1                     /        3  2017-01-03T11:41:00
1   2              /pandas/        4  2017-01-03T11:37:00
2   3              /videos/        5  2017-01-03T10:47:00
3   4                     /        2  2017-01-03T11:51:00
4   5  /python-para-zumbis/        5  2017-01-03T10:32:00

In [6]:
# Criar um DataFrame a partir de uma query da tabela sqlite3
log_df = database.query('select * from log where user_id = 3')
log_df.head()

   id                path  user_id                 date
0   1                   /        3  2017-01-03T11:41:00
1   6            /cursos/        3  2017-01-03T11:31:00
2  13  /django-ecommerce/        3  2017-01-03T11:59:00
3  16            /cursos/        3  2017-01-03T11:39:00
4  22  /django-ecommerce/        3  2017-01-03T10:35:00