# Biblioteca xlrd
* Pacote para LER dados e formatar informações de arquivos Excel mais antigos (.xls)
* Instalação - pip install xlrd


# Biblioteca xlwt
* Pacote para ESCREVER dados e informações de formatação em arquivos Excel mais antigos (.xls)
* Instalação - pip install xlwt

Mais informações no link - http://www.python-excel.org/

In [1]:
# Não é necessão importar os pacotes xlrd e xlwt
import pandas as pd

In [5]:
# Lendo arquivo copacabana do tipo csv
copacabana_df = pd.read_csv('copacabana.csv', delimiter=';')
copacabana_df.head()

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
0,1,3.0,0.01,1144,311,146,969501,1028834,999168,1750,509,37.0,1,95,4379,685365.0700,7457802.680
1,0,2.0,0.01,2456,502,254,1472861,1137759,1305310,2300,484,30.0,1,71,6479,685941.5500,7459001.320
2,0,2.0,0.01,2448,772,229,1803724,1512475,1658100,2350,920,44.0,1,58,12414,685627.3900,7459080.520
3,0,2.0,0.01,1615,428,310,1124331,1370600,1247466,2200,930,43.0,1,88,11250,685438.2001,7458268.280
4,0,2.0,1.00,2358,586,287,1165764,1177933,1171849,2150,918,42.0,1,68,13382,685764.3840,7458954.513

In [6]:
# Lendo arquivo população do tipo xls
populacao_df = pd.read_excel('total_populacao_pernambuco.xls')
populacao_df.head()

,Código do município,Nome do município,Total da população 2000,Total de homens,Total de mulheres,Total da população urbana,Total da população rural,Total da população 2010
0,2600054,Abreu e Lima,89039.0,45165.0,49263.0,86589.0,7839.0,94428.0
1,2600104,Afogados da Ingazeira,32922.0,16790.0,18301.0,27406.0,7685.0,35091.0
2,2600203,Afrânio,15014.0,8751.0,8837.0,5859.0,11729.0,17588.0
3,2600302,Agrestina,20036.0,10938.0,11742.0,16955.0,5725.0,22680.0
4,2600401,Água Preta,28531.0,16581.0,16465.0,18708.0,14338.0,33046.0