# A import√¢ncia dos cursos da Alura

### <font color='blue'> Teste n√£o param√©trico de Wilcoxon<font>

Desconfiado da efici√™ncia dos cursos e materiais de estudo online da Alura, um professor resolveu realizar um teste com um grupo de 14 alunos de sua classe. Para isto, ele submeteu estes alunos a duas etapas distintas e logo depois de cada etapa, aplicou uma avalia√ß√£o. Na etapa inicial, foram oferecidas aulas normais, sem a utiliza√ß√£o do material de apoio da Alura. Na segunda etapa, foram tamb√©m oferecidas aulas normais, mas com a utiliza√ß√£o do material de apoio da Alura. As notas obtidas pelos alunos est√£o na tabela abaixo:

|Aluno|Sem Alura|Com Alura|
|---|---|---|
|Aluno A|7|10|
|Aluno B|8|10|
|Aluno C|6|9|
|Aluno D|6|9|
|Aluno E|10|9|
|Aluno F|4|7|
|Aluno G|2|5|
|Aluno H|5|8|
|Aluno I|9|10|
|Aluno J|2|6|
|Aluno K|4|3|
|Aluno L|9|7|
|Aluno M|1|4|
|Aluno N|10|8|

Assinale a alternativa que apresenta o resultado do teste, n√£o param√©trico de Wilcoxon, aplicado pelo professor (estat√≠stica de teste T e decis√£o do teste). Considere um n√≠vel de signific√¢ncia de 10%.

In [4]:
from scipy.stats import wilcoxon
import pandas as pd

In [13]:
significancia = 0.1
confianca = 1 - significancia

In [2]:
alunos = {
    'Sem Alura' : [5, 8, 6, 6, 10, 4, 2, 5, 9, 2, 4, 9, 1, 10],
    'Com Alura' : [10, 10, 9, 9, 9, 7, 5, 8, 10, 6, 3, 7, 4, 8]
}

alunos

{'Sem Alura': [5, 8, 6, 6, 10, 4, 2, 5, 9, 2, 4, 9, 1, 10],
 'Com Alura': [10, 10, 9, 9, 9, 7, 5, 8, 10, 6, 3, 7, 4, 8]}

In [8]:
df_alunos = pd.DataFrame(alunos)

df_alunos

    Sem Alura  Com Alura
0           5         10
1           8         10
2           6          9
3           6          9
4          10          9
5           4          7
6           2          5
7           5          8
8           9         10
9           2          6
10          4          3
11          9          7
12          1          4
13         10          8

In [12]:
# Retorno:
#   * ùëá  = menor das somas de postos de mesmo sinal
#   * p_valor
T, p_valor = wilcoxon(df_alunos['Sem Alura'], df_alunos['Com Alura'])

print(f'ùëá       - {T}')
print(f'p_valor - {p_valor}')

ùëá       - 14.0
p_valor - 0.013427734375

In [14]:
print(f'p_valor       - {p_valor}')
print(f'significancia - {significancia}', end='\n\n')

if (p_valor <= significancia):
    print('Rejeitar H0')
else:
    print('N√£o pode rejeitar H0')

p_valor       - 0.013427734375
significancia - 0.1

Rejeitar H0